[defaults]

# some basic default values
deprecation_warnings    = False
inventory               = local.inventory
remote_tmp              = $HOME/.ansible/tmp
gathering               = smart
host_key_checking       = False
ansible_python_interpreter = /usr/local/bin/python3
retry_files_enabled     = False
std_callback            = yaml

[ssh_connection]
pipelining              = True
control_path            = "/tmp/ansible-ssh-%%h-%%p-%%r"
ssh_args                = -o ControlMaster=auto -o ControlPath=60s
scp_if_ssh              = True
timeout                 = 30

# Cowsay Config
nocows                  = 1
